<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_QuanLyNhaThuoc.Properties.Settings.QLQBTConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QLQBT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL_QuanLyNhaThuoc.Properties.Settings.QuanLyQuayThuocConnectionString"
            connectionString="Data Source=DESKTOP-KSVV6FR\SQLEXPRESS;Initial Catalog=QuanLyQuayThuoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL_QuanLyNhaThuoc.Properties.Settings.QuanLyQuayThuocConnectionString1"
            connectionString="Data Source=DESKTOP-2LGH91O\SQLEXPRESS;Initial Catalog=QuanLyQuayThuoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL_QuanLyNhaThuoc.Properties.Settings.QuanLyQuayThuocConnectionString2"
            connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QuanLyQuayThuoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL_QuanLyNhaThuoc.Properties.Settings.QuanLyQuayThuocConnectionString3"
            connectionString="Data Source=DESKTOP-HL5SC69\SQLEXPRESS;Initial Catalog=QuanLyQuayThuoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL_QuanLyNhaThuoc.Properties.Settings.QuanLyNhaThuocConnectionString"
            connectionString="Data Source=DESKTOP-2LGH91O\SQLEXPRESS;Initial Catalog=QuanLyNhaThuoc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL_QuanLyNhaThuoc.Properties.Settings.QLQBTConnectionString1"
            connectionString="Data Source=DESKTOP-2LGH91O\SQLEXPRESS;Initial Catalog=QLQBT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>